* {
  font-family: verdana;
}

.mcwrap {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.header {
  font-color: orange;
  border: 3px solid blue;
}

.main-content {
  font-size: 12px;
  border: 3px dotted red;
}

p {
  font-size: 20px;
}
