* {
  font-family: sans-serif;
}

body {
  background-color: lightgrey;
}

.mcwrap {
  margin: auto;
  margin-top: 25px;
  width: 80%;
}

.headerwrap {
  background-color: grey;
  width: auto;
  height: auto;
}

.headermain {
  float: inherit;
}

.headerbutton {
  width: 25%;
  height: 35px;
  background-color: darkgrey;
  font-style: purple bold;
  float: left;
  text-align:center;
  margin: auto;
}

.main-content {
  font-size: 12px;
  padding: 10px;
  background-color: lightblue;
  border-left: solid darkgrey 2px;
  border-right: solid darkgrey 2px;
}

.footer {
  height: 15px;
  text-align: center;
  background-color: darkgrey;
  font-style: bold;
  font-size: 13px;
}

p {
  font-size: 11px;
}
