* {
  font-family: verdana;
}

body {
  background-color: lightgrey;
}

.mcwrap {
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}

.header {
  font-color: orange;
  background-color: grey;
  border: 3px solid blue;
}

.headerbutton {
  background-color: darkgrey;
  border-style: ridge;
}

.main-content {
  font-size: 12px;
  border: 3px dotted red;
}

p {
  font-size: 11px;
}
